<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @item.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @item.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @item.publisher %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @item.rating %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @item.descripton %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @item.image_link %>
</p>

<%= link_to 'Back', infobooks_path %>
